/* BODY */

body {
  font-family: Verdana;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  margin: auto;
}

/* HEADER */

header {
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0px;
}

.logo {
  display: flex;
  align-items: center;
  margin: 8px 10px 8px 10px;
  height: 50px;
  width: 160px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-tea-cozy-logo.png);
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.hnav {
  display: flex;
  justify-content: flex-end;
  color: seashell;
  text-decoration: underline;
  padding-right: 30px;
  padding-left: 15px;
  font-family: Helvetica
  font-size: 22px;
}

/* MISSION SECTION */

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  padding-right: 30px;
  margin-top: 60px;
}

#mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-size: auto;
}

.text {
  background-color: black;
  text-align: center;
  width: 1200px;
  color: seashell;
  padding: 0 0;
}

/* TEA SECTION */

#tea {
  width: 1000px;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  color: seashell;
}

.teaimages {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.photo-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 30px;
}

.berry {
  margin-top: auto;
  width: 300px;
  height: 200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-berryblitz.jpg);
  background-size: contain;
}

.rum {
  margin-top: auto;
  width: 300px;
  height: 200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-spiced-rum.jpg);
  background-size: contain;
}

.donut {
  margin-top: auto;
  width: 300px;
  height: 200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-donut.jpg);
  background-size: contain;
}

.myrtle {
  margin-top: auto;
  width: 300px;
  height: 200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-myrtle-ave.jpg);
  background-size: contain;
}

.bizarre {
  margin-top: auto;
  width: 300px;
  height: 200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-bedford-bizarre.jpg);
  background-size: contain;
}

.subtitle {
}
